/****************************************************************
FORM ACTIONS MENU
****************************************************************/
#actions_menu {
    position: fixed;
    text-align: right;
    z-index: 1030;
    pointer-events: none;
}
#actions_menu ul li button, #actions_menu ul li span {
    pointer-events: all;
}
#actions_button:focus {
    outline: 0;
}
#actions_button {
    pointer-events: all;
}
#back_to_top {
	position: fixed;
    z-index: 1030;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s ease-in;
    -webkit-transition: visibility 0.3s linear, opacity 0.3s ease-in;
    -moz-transition: visibility 0.3s linear, opacity 0.3s ease-in;
    -o-transition: visibility 0.3s linear, opacity 0.3s ease-in;
    -ms-transition: visibility 0.3s linear, opacity 0.3s ease-in;
}
.show_back_to_top {
	opacity: 1 !important;
}
#back_to_top:focus {
    outline: 0;
}
.actions-open {
    background-color: #FFF;
    color: #F78F1E;
    border: 2px solid #F78F1E;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(89.99deg);
    -ms-transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
}
.actions-open:active {
	background-color: #FFF !important;
    color: #575756;
}
.actions-open i {
    /*opacity: 0.75;*/
}
.actions-open:hover i {
    opacity: 1;
}
.actions-open:hover {
    background-color: #FFF !important;
    color: #575756;
}
.actions-closed {
    background-color: #F78F1E;
    color: #FFF;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
}
#actions_list {
  opacity: 0;
  list-style: none;
  -webkit-padding-start: 0px;
  transition: visibility 0.5s linear, opacity 0.5s ease-in;
  -webkit-transition: visibility 0.5s linear, opacity 0.5s ease-in;
  -moz-transition: visibility 0.5s linear, opacity 0.5s ease-in;
  -o-transition: visibility 0.5s linear, opacity 0.5s ease-in;
  -ms-transition: visibility 0.5s linear, opacity 0.5s ease-in;
}
.list_open {
	opacity: 1 !important;
}
.form_menu_element {
  margin: 6px 0px;
}
.form_menu_element button {
  background-color: #F78F1E;
  line-height: 1 !important;
  color: #FFF;
}
.form_menu_element button:focus, .form_menu_element button:active, .form_menu_element button:focus:active {
  background-color: #F78F1E !important;
  outline: 0 !important;
  color: #575756;
}
.form_menu_element button:hover {
  background-color: #F78F1E;
  line-height: 1 !important;
  color: #575756;
}
.actions_tooltip {
  padding: 4px 6px;
  margin-left: 5px;
  background-color: #F78F1E;
  color: #FFF;
  border: 2px solid #F78F1E;
  border-radius: 10px;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear 0.225s;
  -webkit-transition: visibility 0.5s linear, opacity 0.5s linear 0.225s;
  -moz-transition: visibility 0.5s linear, opacity 0.5s linear 0.225s;
  -o-transition: visibility 0.5s linear, opacity 0.5s linear 0.225s;
}
.actions_tooltip.tooltip_highlight {
	color: #575756;
}
.tooltip_visible {
	opacity: 1;
}
#save {
	padding-top: 6px;
    padding-right: 0px;
}
#createPdf {
	padding-right: 0px;
    padding-top: 4px;
}
#unlock {
	padding-top: 8px;
    padding-right: 0px;
}
#accept {
	padding-top: 6px;
    padding-right: 0px;
}
#qualifica {
	padding-top: 6px;
    padding-right: 0px;
}
#unlock_info {
	padding-top: 8px;
	padding-left: 2px;
}
#sap {
	padding-top: 6px;
	padding-right: 0px;
}
#edit_note {
	padding-right: 0px;
    padding-top: 10px;
}
#new_user {
	padding-top: 6px;
	padding-right: 4px;
}
#new_user i {
	position: relative;
}
#new_user i:last-of-type {
    top: -10px;
	margin-left: -8px;
	font-size: 0.6em;
}
#register {
	padding-top: 4px;
	padding-left: 6px;
}