/****************************************************************
 JQUERY OVERWRITE + DIALOG WITH CUSTOM DEFINE
 ****************************************************************/
 .ui-dialog-content.ui-widget-content {
    overflow-x: hidden;
}
/****************************************************************
 DATATABLE OVERWRITE
 ****************************************************************/
table.dataTable tbody th,
table.dataTable tbody td {
    word-wrap: break-word;
    word-break: break-all;
}
/****************************************************************
 FORM
 ****************************************************************/
.height72 {
	height:72px;
	line-height:72x;
}

.version {
	font-size: 0.8em;
	font-weight: normal;
}

.well-subAsk {
	background-color: #d4e0f2;
	border: 1px solid #00529c;
 	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 10px;
    padding: 19px;
    margin-left: 20px!important;
    margin-right: 20px!important;
}

.ui-datepicker{z-index: 4000 !important};
.aula-list {
    padding-top: 25px;
}
#accessi-list > li {
    line-height: 30px;
    font-size: 1.1em;
}
div.table-margin-bottom {
    margin-bottom: 20px;
}
.indent {
    padding-left: 35px;
}
div.aula-list {
    margin-top: 30px;
}

.cursor-pointer {
	cursor: pointer;
}

.margin-left {
	margin-left: 15px;
}

ul.std-list li {
	line-height: 25px;
}

/******** *****************
HEADING SIMULATION WITH P  
**************************/

p.H1 {
	font-size : 36px;
}
p.H2 {
	font-size : 30px;
}
p.H3 {
	font-size : 24px;
}
p.H4 {
	font-size : 18px;
}
p.H5 {
	font-size : 14px;
}
p.H6 {
	font-size : 12px;
}

/* errore validazione client */
span.validation-block {
    color: #a94442;
    display: block;
}

.margin-top {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.modal-overflow-list {
	list-style-position: inside;
	padding-left: 15px;
}

.modal-overflow-list li, div.list-overflow div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile-overflow {
	max-width: 300px;
}

.profile-overflow li a {
    overflow: hidden;
    max-width: 280px;
    text-overflow: ellipsis;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	div#headbar {
		height: 100px;
	}

	div#header-logo {
		display: inline-block;
		width: 250px;
		text-align: center;
		height: 100px;
	}

	div#header-logo a#logo {
		display: table-cell;
		vertical-align: middle;
	}

	div#header-text {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 65%;
		padding-top: 20px;
		line-height: 40px;
		vertical-align: top;
	}

	div#profile {
		float: right; 
		display: inline-block;
	}
}	